extends layout

block content
  h1 
    img(src='https://github.com/benc-uk/azure-node-docker-paas/blob/master/src/public/images/icon.png?raw=true' height='64px' align='absmiddle')
    span &nbsp;Linux PaaS &ndash; Demo Web App
  h2 System Info...
  table 
    tr 
      td OS: 
      td #{info.type} &ndash; v#{info.release}
    tr
      td Hostname:
      td #{info.hostname} 
    tr
      td CPUs: 
      td #{info.cpus.length} &times; #{info.cpus[0].model}
    tr
      td Memory: 
      td #{Math.round(info.mem/(1024*1024))} Mb
  if isDocker
    h3 Status: Running in a Docker container! &#x1F604; &#x2615; 
  else
    h3 Status: <b>Not</b> running as a Docker container &#x1F622;
  hr
  h2 Azure &hearts; Open source
